* {
  font-family: "Special Elite", cursive;
  color: rgb(5, 130, 135);
  text-shadow: 1px 1px 0.5px rgb(0, 0, 0);
  box-sizing: border-box;
}

.App {
  text-align: center;
}

body {
  background: radial-gradient(at bottom, rgb(141, 216, 247), rgb(21, 190, 243));
  height: 100vh;
}

.header-container {
  margin-top: 2rem;
  background-color: white;
  border-radius: 2px;
  transform: rotate(-2deg);
  filter: drop-shadow(1px 5px 3px rgba(13, 62, 85, 0.487));
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
